name: Close GitHub Pull Requests

# Trigger this workflow once a day.
on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  close_prs:
    name: Close Pull Requests
    runs-on: ubuntu-latest

    # Only run this job in the read-only mirror repository.
    if: github.repository == 'Deaadman/tld-mod-manager' && contains(github.server_url, 'github.com')

    permissions:
      pull-requests: write

    steps:
      - uses: actions/stale@v10
        with:
          days-before-pr-stale: 0
          days-before-pr-close: 0
          stale-pr-message: |
            This pull request has been automatically closed because this repository is a read-only mirror. Development happens on [Codeberg](https://codeberg.org/Deadman/tld-mod-manager).